/* .ttt{
    width: 700px;
    height: 700px;
    background-color: rgb(4, 4, 4);
    position: absolute;
    top: 0;
}
.ttt h1{
    color: white;
} */
#mainbar {
    position: relative;
}





#itemfield {
    width: 50px;
}

#backtoregister {
    background-color: rgb(65, 65, 147);
    width: 100px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    left: 578px;
    top: 59px;
}



#header {
    display: flex;
    border-bottom: solid 1px #b78585;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

#mainbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#content {
    width: 700px;
    height: 480px;
    background-color: white;
    border: 1px solid #b19f9f;
    border-radius: 30px;
    box-shadow: 8px 8px 12px -6px black;
    margin-top: -340px;
}

#content:hover {
    transform: 0.5;
}

#content hr {
    width: 90%;
    border: solid 1px #ae9696;
}

#imagebar {
    width: 307px;
    height: 374px;
    border-radius: 10px;
    border: 1px solid #b19f9f;
    margin: 8px 5px;

}

#imagefield {
    width: 298px;
    height: 365px;
    border-radius: 10px;
    margin: 3px 3px;
}

#namefield p {
    font-size: 30px;
    font-weight: 500;
    color: #967373;
    margin: 16px 37px;
}

#detailsinpara {
    display: flex;
    flex-direction: column;
    width: 367px;
    height: 374px;
    margin: 10px 4px;
    border-radius: 10px;
    border: 1px solid #b19f9f;
}

#backtoregister {
    background-color: rgb(65, 65, 147);
    width: 100px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    top: -278px;
}

.imagedetaile {
    display: flex;
}

.fielddesc p {
    background: white;
    height: 40px;
    padding: 6px 15px;
    border: 1px solid #9f3535;
    border-radius: 5px;
}

.fielddesc span {
    font-size: 18px;
    font-weight: 300;
    color: #967373;
}

.fielddesc {
    margin: 12px;
    box-shadow: 2px 2px 8px -2px black;
    border-radius: 5px;
}
